 *{
     margin: 0;
     padding: 0;
}

body{
     font-family: 'popins', sans-serif;
     line-height: 1.6;
     background: #fff;
}


 


.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

#nav-container{
    background:linear-gradient(90deg, rgb(92, 163, 218) 0%, rgb(32, 124, 202) 35%, rgb(29, 95, 171) 100%); 
    
}


// category-items

.category-img{
    border-radius: 50%;
    overflow: hidden;
   border: 0px solid #fff;
   transition: box-shadow 0.1s;
 
   min-width: 90px;
   
    
}

.category:hover .category-img{
    border-width: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

 

 .category-content:hover{
    color: #439DDF;
 }

 .category-content{
    align-items: center;
    margin-left: 10px;
 }
 .category-content p{
    font-weight: 400;
    line-height: 1rem;
    font-size: small;
     
 }

 .category-content a{
    color: black;
 }
 


 

 



