#nav-container {
  background: linear-gradient(
    90deg,
    rgb(92, 163, 218) 0%,
    rgb(32, 124, 202) 35%,
    rgb(29, 95, 171) 100%
  );
  transition: all 0.3s ease;

  form {
    width: 600px;
    @include md {
      width: 200px;
    }

    @include lg{
      width: 200px;
    }

    @include sm {
      width: 600px;
    }
  }

  .mobile-view {
    .wishlist {
      i {
        font-size: 20px;
      }
    }

    .delimiter {
      margin-top: 10px;
      width: 1.5px;
      height: 15px;
      background-color: #fff;
      margin: auto;
    }

    .sign-up {
      a {
        font-size: 14px;
      }
      @include sm {
        font-size: 13px;
        margin-top: 3px;
      }
    }
  }

  .navbar-right-left {
    .signup-section {
      a {
        font-size: 13px;
      }

      .small-border {
        border: 1px solid white;
        height: 10px;
      }
    }
  }

  .wishlist {
    i {
      font-size: 26px;
    }
  }
}
