#nav-container {
  background: linear-gradient(
    90deg,
    rgb(92, 163, 218) 0%,
    rgb(32, 124, 202) 35%,
    rgb(29, 95, 171) 100%
  );
  transition: transform 0.3s ease;
  .mobile-view {
    i {
      font-size: 10px;
    }
    a {
      font-size: 14px;
    }
    .delimiter-nav {
      margin-top: 10px;
    }

    .sign-up {
      @include sm {
        font-size: 13px;
        margin-top: 3px;
      }
    }
  }

  .navbar-right-left {
    .signup-section {
      a {
        font-size: 13px;
      }

      .small-border {
        border: 1px solid white;
        height: 10px;
        //   padding: 0 6px;
      }
    }
  }

  .wishlist {
    i {
      font-size: 26px;
    }
  }
}
