.mobile-category {
  @include sm {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include md {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .category {
    &.category-firstchild {
      @include md {
        margin-left: unset !important;
      }
    }
    @include sm {
      max-width: 20% !important;
      margin-left: 2px !important;
    }

    @include md {
      margin-left: 30px !important;
      max-width: 35%;
    }

    &:hover .category-img {
      @include sm {
        border-width: unset;
        box-shadow: unset;
      }
      border-width: 8px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    }

    &-img {
      @include sm {
        border-radius: unset;
        border: unset;
        border-radius: unset;
      }
      border-radius: 50%;
      border: 0px solid $white-color;
      transition: box-shadow 0.1s;
      min-width: 80px;

      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        vertical-align: middle;
        @include sm {
          max-width: 75%;
          border-radius: 50%;
          border: 0px solid $white-color;
          transition: box-shadow 0.1s;
          &:hover {
            border-width: 8px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }

    &-content {
      align-items: center;
      margin-left: 10px;
      @include sm {
        margin-left: 0px;
      }

      a:hover {
        color: $sky-color;
      }

      .category-name {
        font-weight: 700;
        line-height: 1rem;
        font-size: 12px;

        @include sm {
          font-size: 8px;
        }

        @include md {
          font-size: 10px;
          margin-left: 5px;
        }

        a {
          color: $black-color;
        }
      }
    }
  }
}
