.category {
  &:hover .category-img {
    border-width: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  }

  &-img {
    border-radius: 50%;
    border: 0px solid #fff;
    transition: box-shadow 0.1s;
    min-width: 80px;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
  }

  &-content a:hover {
    color: #56b3f6;
  }

  &-content {
    align-items: center;
    margin-left: 10px;
  }

  &-content {
    p {
      
      font-weight: 400;
      line-height: 1rem;
      font-size: small;
    }
    a {
      color: black;
    }
  }
}
