.card-body .card-title{
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.product-rating-desert i{
    font-size: 13px;
}

.product-review-desert span{
 font-size: 13px;
}

.product-amount-desert h5{
    font-size: 16px;
    font-weight: 600;
}

.product-price-desert span{
    font-size: 13px;
    font-weight: 600;
}

.discount{
     font-size: 16px;
    font-weight: 600;
}