#first-splide .splide__pagination__page{
     background-color:$white-color;
      
    bottom: 30px;
    width: 8.05px;
    height: 8.05px;
    padding: 0;
    border: 0.8px solid white;

    &.is-active {
    background-color: $sky-color;
    width: 14px;
    height: 7px;
    border: 1px;
    border-radius: 5px;
  }
}

 
     
