.hot-deals {
  font-family: "popins", sans-serif;

  .countdown {
    .timer-container {
      .timer-D {
        font-size: 16px;
        font-weight: 400;
      }
    }
    transition: visibility 1.5s ease;
    opacity: 1;

    &:hover {
      visibility: hidden;
      opacity: 0;
    }
    position: absolute;
    width: 45%;
    @include md{
      width: 40%;
      top: 75%;
    }

    top: 68%;
    @include sm {
      top: 47%;
    }
    margin-left: 15px;
    padding: 7px;
    color: $white-color;
    background-color: #373636d2;
    text-align: center;

    @include sm {
      width: 85%;
    }
  }

  .hot-deals-card {
    img {
      @include sm {
        width:100%;
      }
    }

    
    .hot-deals-card-title {
      line-height: 2px;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        color: $sky-color;
      }
    }

    .rating {
      font-size: 13px;
      margin-top: 7px;
      @include sm {
        margin-top: 5px;
      }
    }
  }

  .price {
    margin-top: 6px;
    margin-bottom: 7px;
    @include sm {
      margin-top: 3px;
      margin-bottom: 8px;
    }
    .new-price {
      font-size: 20px;
      font-weight: 600;
    }

    .old-price {
      font-size: 20px;
    }
  }
  .card-icon {
    margin-top: 20px;
    .btn {
      --bs-btn-hover-bg: rgb(81, 199, 242);
      padding: 7px 12px;
      border: 2px solid $black-color;
      border-radius: 10px;

      .buy {
        font-size: 14px;
        @include sm {
          display: none;
        }
      }
    }
    .icon1-color {
      &:hover {
        color: $sky-color;
      }
    }

    .icon2-color {
      &:hover {
        color: $sky-color;
      }
    }
  }
}
