.splide__pagination__page {
  bottom: -40px;
}

#weekly-brand .splide__pagination__page.is-active {
  background-color: $sky-color;
  width: 14px;
  height: 7px;
  border: 1px;
  border-radius: 5px;
}

// #first-splide .splide__pagination__page.is-active {
//   background-color: $sky-color;
//   width: 14px;
//   height: 7px;
//   border: 1px;
//   border-radius: 5px;
// }
// #first-splide .splide__pagination__page {
//   margin-left: 10px;
//   padding: 5px;
// }

#first-splide .splide__pagination__page {
  margin-left: 10px;
  padding: 5px;

  &.is-active {
    background-color: $sky-color;
    width: 14px;
    height: 7px;
    border: 1px;
    border-radius: 5px;
  }
}

#desert .splide__pagination__page.is-active {
  background-color: $sky-color;
  width: 14px;
  height: 7px;
  border: 1px;
  border-radius: 5px;
}
