// .splide__pagination__page {
//   bottom: -40px;
// }

#weekly-brand .splide__pagination__page.is-active {
  background-color: $sky-color;
  width: 14px;
  height: 7px;
  border: 1px;
  border-radius: 5px;
  
}

 