.offcanvas-sidebar {
  .side-bar {
    a {
      font-size: 14px;
    }
    &.nav {
      &.nav-tabs {
        border: none;
        .nav-tab {
          border-bottom: 3px solid white;

          &.active {
            border-bottom: 2px solid $sky-color;
            color: $sky-color !important;
          }
        }
      }
    }
  }
  &.offcanvas {
    .offcanvas-close {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }

  .tab-content-nav {
    ul {
      .option {
        a {
          @include sm {
            font-size: 10px;
          }
        }

        i {
          @include sm {
            font-size: 8px;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
