.subscribe-container {
  background-color: $sky-color;

  .icon-box {
    .icon-box-img {
      .msg-icon {
        font-size: 49px;
        margin-right: 20px;
        @include sm {
          font-weight: 300;
        }
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;

    @include sm {
      flex-direction: column;
      margin-top: 0px;
      margin-right: 0px;
    }
  }

  .icon-content {
    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0px;

      @include sm {
        font-size: 15px;
        text-align: center;

        font-weight: 500;
      }
    }

    p {
      font-size: 13px;
      margin-bottom: 0.5rem;
      padding: 0.1rem;
      @include sm {
        font-size: 11px;
      }

      @include md {
        font-size: 11px;
      }
    }

    @include md {
      margin-right: 10px;
    }
  }

  .icon-box-right {
    display: flex;
    justify-content: end;
    align-items: center;

    @include sm {
      flex-direction: column;
    }

    a {
      @include sm {
        margin-left: 70px !important;
      }

      @include md {
        margin-right: 85px;
      }
    }
  }

  .btn-primary {
    --bs-btn-bg: #439ddf;
  }
}
